@font-face {
  font-family: 'Eras Demi ITC Regular';
  src: url('images/Eras\ Demi\ ITC\ Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Eras Demi ITC Regular', Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#111317, #ee2d30, #111317);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}

section span:hover {
  background: #ee2d30;
  transition: 0s;
}

section .container {
  position: absolute;
  width: 60vw;
  max-height: auto;
  height: auto;  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
  flex-direction: column; /* Change to row */
}

.logo{
  margin-top: -7vw;
  width: 15vw;
  height: auto;
}

h1{
  color: #fff;
  font-size: 3vw;
  margin-top: -4vw;
  margin-bottom: 2vw;
}

p {
  margin-top: -1vw;
  color: #fff;
  margin-bottom: 2vw;
}
.cart-items {
  width: 90%;
  display: grid;
  gap: 1vw;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.8vw;
  align-items: center;
  padding: 0.8vw;
  border: 0.08vw solid #ccc;
  border-radius: 0.32vw;
}

.cart-item .item-details p {
  color: rgb(245, 244, 244);
}

.cart-item img {
  width: 8vw;
  height: 8vw;
  object-fit: cover;
  border-radius: 0.32vw;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}

.item-details h2 {
  font-size: 1.44vw;
  font-weight: bold;
  color: #fff;
}

.item-details p {
  margin-top: 1vw;
  color: #c2c1c1;
}

.remove-btn,
.checkout-btn {
  padding: 0.4vw 0.8vw;
  border: none;
  border-radius: 0.32vw;
  cursor: pointer;
}

.remove-btn {
  margin-top: -1vw;
  background-color: #ee2d30;
  color: #fff;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6vw;
  gap: 30vw;
}

.cart-total h3 {
  font-size: 1.6vw;
  color: #fff;
}

.checkout-btn {
  padding: 0.8vw 1.6vw;
  background-color: rgb(3, 207, 3);
  color: #ffffff;
  font-size: 1.2vw;
}


.remove-btn {
  padding: 0.4vw 0.8vw;
  border: none;
  border-radius: 0.32vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.remove-btn:hover {
  background-color: #570b0b; 
  color: #fff; 
}





.checkout-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 0 0.2vw #fff; 
}
